# The kind and apiVersion attributes are used to specify that we are declaring a Service object.
# The metadata section is used to describe the Service object, for example, to give it a name: nginx service.
# With the type field, we specify that we want NodePort, that is, a Service that is accessible externally on a
# dedicated port on each node in the cluster. This means that an external caller can reach the Pods behind
# this Service using this port on any of the nodes in the cluster, independent of which nodes the Pods actually run on.
# The selector is used by the Service to find available Pods, which, in our case, are Pods labeled with app: nginx-app.
# Finally, ports are declared as follows:
# • port: 80 specifies which port the Service will be accessible on, that is, internally in the cluster.
# • targetPort: 80 specifies the port in the Pod where the requests will be forwarded to.
# • nodePort: 30080 specifies which port the Service will be externally accessible on using any of the nodes
# in the cluster. By default, a node port must be in the range of 30000 to 32767.

apiVersion: v1
kind: Service
metadata:
  name: nginx-service
spec:
  type: NodePort
  selector:
    app: nginx-app
  ports:
    - targetPort: 80
      port: 80
      nodePort: 30080