# Move the configuration file, application.yml, to the config repository and rename it with the name of the
# client as specified by the property spring.application.name.
# Add a new application.yml file to the src/main/resources folder. This file will be used to hold
# the configuration required to connect to the config server.

# This will make the application to fetch configuration from the config-server.
#   username: ${CONFIG_SERVER_USR} --> specified in the env file
#   password: ${CONFIG_SERVER_PWD} --> specified in the env file

# As mentioned previously, the src/main/resources/application.yml file now holds the client configuration that
# is required to connect to the config server. This file has the same content for all clients
# of the config server, except for the application name, as specified by the spring.application.name property

spring.config.import: "configserver:"

spring:
  application.name: product
  cloud.config:
    failFast: true
    retry:
      initialInterval: 3000
      multiplier: 1.3
      maxInterval: 10000
      maxAttempts: 20
    uri: http://localhost:8888
    username: ${CONFIG_SERVER_USR}
    password: ${CONFIG_SERVER_PWD}

---
spring.config.activate.on-profile: docker

spring.cloud.config.uri: http://config-server:8888